<div class="agenda-workshops-section">
    <button {{bind-attr class=':event expanded:selected hide:hidden'}} {{bind-attr disabled=noWorkshops}} {{action 'toggleExpanded'}}>
        <div class="flex">
            <h1><i class="fa fa-angle-down"></i> {{name}}</h1>
            {{#if workshopSelectedInThisTimeSlot}}
                <i class="fa fa-check"></i>
            {{else}}
                {{#if isLunchSelected}}
                    <i class="fa fa-cutlery"></i>
                {{/if}}
            {{/if}}
            <span>{{time}}</span>

            <div {{bind-attr class=':no-workshop-found noWorkshops:visible'}}>
                no workshops found
            </div>
        </div>
    </button>
    <div {{bind-attr class=':workshop-list expanded:visible'}}>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
            {{#each workshop in workshops}}
                <li>
                    <button {{bind-attr class=':workshop workshop.isSelected:selected'}} {{action 'showWorkshopDetails' workshop}}>
                        {{#each mentor in workshop.mentors}}
                            <span {{bind-attr class=':mentor mentor.lastInList:no-comma'}}>{{mentor.firstName}} {{mentor.lastName}}</span>
                        {{/each}}

                        <h1>{{workshop.title}}{{#if workshop.isLongerThanOneTimeSlot}} ({{agenda-workshop-human-index workshop day timeSlot}}/{{workshop.numberOfTimeSlots}}){{/if}}</h1>

                        <span class="room">room: {{workshop.room}}</span>

                        <span class="room">free seats: {{workshop.placesLeft}}</span>

                        <div class="tags">
                            {{#each tag in workshop.tags}}
                                <span class="tag">{{tag.name}}</span>
                            {{/each}}
                        </div>
                    </button>
                    {{render 'single-agenda-workshop' workshop}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>