<div class="workshop">
    <h1>{{workshop.title}}</h1>

    <div class="room">room: {{workshop.room}}, {{workshop.startTimeHour}}-{{workshop.endTimeHour}}</div>

    <div class="tags">
        {{#each tag in workshop.tags}}
            <span class="tag">{{tag.name}}</span>
        {{/each}}
    </div>
    <div class="description">
        {{markdown-to-html markdown=workshop.description}}
    </div>

    <h2>Mentors:</h2>

    <ul class="small-block-grid-1 medium-block-grid-2">
        {{#each mentor in workshop.mentors}}
            <li>
                {{mentor-widget mentor=mentor}}
            </li>
        {{/each}}
    </ul>
</div>

