<section id="agenda">
    <div class="row">
        <div class="columns">
            <h1>Agenda</h1>

            <div class="search-bar">
                {{input value=searchText placeholder='What are you looking for?'}}
                <button {{action 'filterWorkshops'}}>
                    <div class="flex"><i class="fa fa-search"></i></div>
                </button>
            </div>

            {{#unless isSignedIn}}
                <div class="info">
                    <p>
                        Please sign in before selecting workshops.
                    </p>
                    {{#link-to 'index'}}
                        <button class="success">SIGN IN</button>
                    {{/link-to}}
                </div>
            {{/unless}}

            {{#if showPurchaseNotCompletedInfo}}
                <div class="info">
                    <p>
                        Please finish your purchase before selecting workshops.
                    </p>
                    {{#link-to 'buy-a-ticket'}}
                        <button class="success">GO TO DASHBOARD</button>
                    {{/link-to}}
                </div>
            {{/if}}

            {{#if canSelectWorkshops}}
                <div class="selected-workshops">
                    <h2>Workshops you have selected:</h2>
                    {{#if selectedWorkshops}}
                        {{#each workshop in selectedWorkshops}}
                            ({{workshop.startTimeDay}} {{workshop.startTimeHour}}-{{workshop.endTimeHour}}) {{workshop.title}}<br>
                        {{/each}}
                    {{else}}
                        <div class="info">
                            <p>
                                No workshops selected.
                            </p>
                        </div>
                    {{/if}}

                </div>
            {{/if}}

            <h2>Day 1</h2>

            <h3>Friday 28th August</h3>

            <div {{bind-attr class=':no-workshops-found noWorkshopsFoundDay1::hidden'}}>
                No workshops found for this day.
            </div>

            <button {{bind-attr class=':event filteredWorkshopsOnly:hidden'}} disabled>
                <div class="flex">
                    <h1><i class="fa fa-angle-down"></i> Registration</h1>
                    <span>08:00-09:00</span>
                </div>
            </button>

            <button {{bind-attr class=':event filteredWorkshopsOnly:hidden'}} disabled>
                <div class="flex">
                    <h1><i class="fa fa-angle-down"></i> Opening</h1>
                    <span>09:00-09:15</span>
                </div>
            </button>

            {{agenda-workshops-section allWorkshops=workshops day='FIRST' timeSlot=0 selectWorkshop='selectWorkshop' name='Workshops I' time='09:15-12:30' parentController=this}}

            <button {{bind-attr class=':event filteredWorkshopsOnly:hidden'}} disabled>
                <div class="flex">
                    <h1><i class="fa fa-angle-down"></i> Coffee Break</h1>
                    <span>12:30-12:45</span>
                </div>
            </button>

            {{agenda-workshops-section allWorkshops=workshops day='FIRST' timeSlot=1 selectWorkshop='selectWorkshop' name='Workshops II / Lunch' time='12:45-13:45' parentController=this}}

            {{agenda-workshops-section allWorkshops=workshops day='FIRST' timeSlot=2 selectWorkshop='selectWorkshop' name='Workshops III / Lunch' time='13:45-14:45' parentController=this}}

            <button {{bind-attr class=':event filteredWorkshopsOnly:hidden'}} disabled>
                <div class="flex">
                    <h1><i class="fa fa-angle-down"></i> Coffee Break</h1>
                    <span>14:45-15:00</span>
                </div>
            </button>

            {{agenda-workshops-section allWorkshops=workshops day='FIRST' timeSlot=3 selectWorkshop='selectWorkshop' name='Workshops IV' time='15:00-18:15' parentController=this}}

            <h2>Day 2</h2>

            <h3>Saturday 29th August</h3>

            <div {{bind-attr class=':no-workshops-found noWorkshopsFoundDay2::hidden'}}>
                No workshops found for this day.
            </div>

            <button {{bind-attr class=':event filteredWorkshopsOnly:hidden'}} disabled>
                <div class="flex">
                    <h1><i class="fa fa-angle-down"></i> Registration</h1>
                    <span>09:00-09:30</span>
                </div>
            </button>

            {{agenda-workshops-section allWorkshops=workshops  day='SECOND' timeSlot=0 selectWorkshop='selectWorkshop' name='Workshops I' time='09:30-12:45' parentController=this}}

            <button {{bind-attr class=':event filteredWorkshopsOnly:hidden'}} disabled>
                <div class="flex">
                    <h1><i class="fa fa-angle-down"></i> Coffee Break</h1>
                    <span>12:45-13:00</span>
                </div>
            </button>

            {{agenda-workshops-section allWorkshops=workshops day='SECOND' timeSlot=1 selectWorkshop='selectWorkshop' name='Workshops II / Lunch' time='13:00-14:00' parentController=this}}

            {{agenda-workshops-section allWorkshops=workshops day='SECOND' timeSlot=2 selectWorkshop='selectWorkshop' name='Workshops III / Lunch' time='14:00-15:00' parentController=this}}

            <button {{bind-attr class=':event filteredWorkshopsOnly:hidden'}} disabled>
                <div class="flex">
                    <h1><i class="fa fa-angle-down"></i> Coffee Break</h1>
                    <span>15:00-15:15</span>
                </div>
            </button>

            {{agenda-workshops-section allWorkshops=workshops day='SECOND' timeSlot=3 selectWorkshop='selectWorkshop' name='Workshops IV' time='15:15-18:30' parentController=this}}
        </div>
    </div>
</section>


