<div class="row" class="index">
    <div class="small-12 medium-6 columns">
        <h1>Welcome to Codepot registration app!</h1>

        <h2>
            Here You can buy a ticket for the conference. Soon we will announce full agenda.
        </h2>

        <div class="prices">
            {{#each price in prices}}
                <div class="row">
                    <div class="columns">
                        <div {{bind-attr class=":price-wrapper price.active:active:inactive"}}>
                            <span class="name">{{price.name}}</span>
                            <span class="price">{{price.netPriceInPln}} PLN + {{price.priceVatPercentage}}% VAT</span>
                            <span class="total-price">total: {{price.totalPriceInPLN}} PLN</span>
                            <span class="dates">available until: {{moment price.dateTo 'YYYY-MM-DD'}}</span>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="small-12 medium-6 columns">
        <h2>Register</h2>

        <form  {{action "signUp" on="submit"}}>
            {{input value=signUpFirstName type='text' placeholder='First Name'}}
            {{input value=signUpLastName type='text' placeholder='Last Name'}}
            <div>
                {{input value=signUpEmail id='sign-up-email-input' type='email' placeholder='E-Mail Address' focus-out='onSignUpEmailFocusOut'}}
                <small class="error hidden">Valid e-mail address required.</small>
                <small id="email-taken-error" class="error hidden">Given e-mail address is already taken.</small>
            </div>
            {{input value=signUpPassword type='password' placeholder='Password'}}
            <span class="hint">
              By registering you approve our {{#link-to 'terms-of-service'}}terms of service{{/link-to}}.
          </span>
            <button class="success" {{bind-attr disabled=signUpButtonDisabled}}>REGISTER</button>
        </form>

        <h2>Or Sign In</h2>

        <form {{action "signIn" on="submit"}}>
            <div>
                {{input value=signInEmail id='sign-in-email-input' name='email' type='email' placeholder='E-Mail Address' focus-out='onSignInEmailFocusOut'}}
                <small class="error hidden">Valid e-mail address required.</small>
            </div>
            <div>
                {{input value=signInPassword id='sign-in-pasword-input' name='password' type='password' placeholder='Password'}}
                <small id="failed-to-sign-in-error" class="error hidden">Invalid e-mail address or password.</small>
            </div>
            <button class="success" {{bind-attr disabled=signInButtonDisabled}}>SIGN IN</button>
        </form>

        <h2>More...</h2>

        <p>Hey! I want to buy multiple tickets for my company.</p>

        <p>Hey! I want to get discount for my community group!</p>

        <p>No problem. Just write an e-mail to: <a href="mailto:tickets@codepot.pl">tickets@codepot.pl</a></p>
    </div>
</div>





