<div {{bind-attr id=workshop.id}} class="reveal-modal workshop" data-reveal aria-hidden="true" role="dialog">
    <h1>{{workshop.title}}</h1>

    <div class="tags">
        {{#each tag in workshop.tags}}
            <span class="tag">{{tag.name}}</span>
        {{/each}}
    </div>

    <span class="room">room: {{workshop.room}} ({{workshop.startTimeDay}} {{workshop.startTimeHour}}-{{workshop.endTimeHour}})</span>

    <span class="room">free seats: {{workshop.placesLeft}} ({{workshop.maxAttendees}} total)</span>

    {{#unless workshop.cantModifyWorkshopBecauseOfBeingAMentorInThisTimeSlot}}
        {{#if canSelectWorkshops}}
            {{#if isThisWorkshopCollidingWithLunch}}
                <div class="info">
                    Can't select this workshop. If you would like to select this workshop, leave the workshop selected
                    in lunch time slot before.
                </div>
            {{else}}
                <div class="button-wrapper">
                    {{#if workshop.isSelected}}
                        <button class="alert" {{action 'leaveWorkshop' workshop}}>LEAVE THIS WORKSHOP</button>
                    {{else}}
                        <button class="success" {{bind-attr disabled='workshop.noPlacesLeft'}} {{action 'selectWorkshop' workshop}}>
                            SELECT THIS WORKSHOP
                        </button>
                    {{/if}}
                </div>
            {{/if}}
        {{/if}}
    {{else}}
        <div class="info">
            Can't select this workshop. It collides with your workshop.
        </div>
    {{/unless}}

    {{markdown-to-html markdown=workshop.description}}

    <h2>Mentors:</h2>

    {{#each mentor in workshop.mentors}}
        <span {{bind-attr class=':mentor mentor.lastInList:no-comma'}}>{{mentor.firstName}} {{mentor.lastName}}</span>
    {{/each}}

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>